
/**************Fonts Import**************/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&family=Sacramento&family=Ubuntu+Mono&display=swap');

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Ubuntu Mono', monospace;
*/


/****************** Element Selectors  *******************/

body {
    background-color:#F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: "Montserrat";
     font-size: "3rem";
     line-height: 1.5;
}

h3 {
    color: #212121;
}


p {
    color: #6D9886;
}
/*Navigation Bar */


.navbar {
    padding-bottom: 1rem;
    background-color: #212121;
}

.navbar-nav {
    padding-right: 2%;
}

.navbar-brand {
    font-family: "Sacramento", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 2%;
}

.nav-item {
    padding-right: 25;
    padding-left: 25;
    padding-top: 1;
    padding-bottom: 1;
    color: #D9CAB3;;
}

.nav-link {
    font-size: 1.3rem;
}


/* predict button */

.predict-button {
    margin: 5% 5% 5% 0;
}

/******************* Class Selectors ********************/

.upper-container{
    padding: 1% 4%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.predict-button {
    color: #D9CAB3;
    border-color: #D9CAB3;
}

.predict-button:hover {
    background-color: #D9CAB3;
    border-color: #212121;

}

/* Title Image */
.title-image {
    width: 12em;
}


.feature-box {
    text-align: center;
    padding: 3%;
}


/******************* id Selectors ********************/

#title {
    background-color: #6D9886;
    color: #212121;
}

#features {
    padding: 9% 8%;
}



#contact {
    padding: 9% 8%;
}

#footer {
    background-color: #212121;
    padding: 3% 6%;
    text-align: center;
}

/*********** Predict Section ***************/


#predict {
    background-color: #D9CAB3;
    padding: 10% 8%;
}


.predict-text {
    padding-top: 5%;
    line-height: 2;
}



/******************** Card-form from bbbootstrap.com examples 
Credit = https://bbbootstrap.com/snippets/request-demo-form-validation-12274818
*************************/

.card {
    padding: 30px 40px;
    margin-top: 0;
    margin-bottom: 6%;
    box-shadow: 0 6px 12px 0 #212121;
    background-color: #F6F6F6;
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
