
/**************Fonts Import**************/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&family=Sacramento&family=Ubuntu+Mono&display=swap');

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Ubuntu Mono', monospace;
*/


/****************** Element Selectors  *******************/

body {
    background-color:#F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: "Montserrat";
     font-size: "3rem";
     line-height: 1.5;
}

h3 {
    color: #212121;
}

p {
    color: #6D9886;
}
/*Navigation Bar */


.navbar {
    padding-bottom: 1rem;
    background-color: #212121;
    color: #D9CAB3;
}

.navbar-nav {
    padding-right: 2%;
}

.navbar-brand {
    font-family: "Sacramento", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 2%;
}

.nav-item {
    padding-right: 25;
    padding-left: 25;
    padding-top: 1;
    padding-bottom: 1;
}

.nav-link {
    font-size: 1.3rem;
}



/* predict button */

.predict-button {
    margin: 5% 5% 5% 0;
}

/******************* Class Selectors ********************/

.upper-container{
    padding: 1% 4%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.predict-button {
    color: #D9CAB3;
    border-color: #D9CAB3;
}

.predict-button:hover {
    background-color: #D9CAB3;
    border-color: #212121;

}

/* Title Image */
.title-image {
    width: 35em;
    margin-right: 0;
    margin-left: 10;
    
}

.feature-box {
    text-align: center;
    padding: 3%;
}


/******************* id Selectors ********************/

#title {
    background-color: #6D9886;
    color: #212121;
}

#features {
    padding: 8% 8%;
}
